<div class="header">
  <h1 class="title"><b><a href="/prasannasoni/">Prasanna Soni</a></b></h1>
  <a class="extra" href="/prasannasoni/">home</a>
  <a class="extra" href="/prasannasoni/analytics.html">analytics</a>
  <a class="extra" href="/prasannasoni/engineering.html">engineering</a>
  <a class="extra" href="/prasannasoni/Certifications.html">Certifications</a>
  <a class="extra" href="/prasannasoni/blog.html">blog</a>
  <a class="extra" href="/prasannasoni/assets/resume.pdf">resume</a>
</div>
