<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
              
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/prasannasoni/assets/me.JPG" width="140px" height="196px">
                </div>
                <div class="contact">
                  Lead Data Scientist<br>
                  Technical Architect  <br>
                  <a href="https://www.gm.com/">General Motors</a>, Georgia <br>
                  Previous: <a href="https://www.atos-syntel.net/">Fedex(Atos Syntel)</a> & <a href="https://www.capgemini.com/us-en/">Credit Suisse (Capgemini)</a> <br>
                  <br>
                  Email: <a href="mailto:prasanna.soni11@gmail.com">prasanna.soni11@gmail.com</a> <br>
                  GitHub: <a href="https://github.com/prasannasoni">prasannasoni</a> <br>
                  <a href="https://www.linkedin.com/in/prasannasoni11/">LinkedIn</a> <br>
                </div>
              </div>
                    
              
              <div class="homecontent">
                <b><span style="color:brown"><font size="4">Brief Bio</font></span></b> <br>
                With unique experience in project managment and solution designing in Computer engineering and data science, I am uniquely positioned as a data scientist and project delivery expert for automotive, retail , banking and manufacturing industrial IoT domain. I bring cross functional expertise at the intersection of computer science, big data, statistics and business to provide quality and scalable solutions. Some of my interests include: 
                <br>
                <br>
                <ul>
                  <li>Predictive maintenance of automotive, retail, banking and manufacturing</li>
                  <li>Building auto configurable self managed apps using AI </li>
                  <li>Logstash, Sensor, Image & video analytics for infrastructure monitoring </li>
                  <li>Bridging the gap between project managment and delivery along with data driven modeling</li>
                  <li>Building model agnostic explanations for black box ML methods in engineering </li>
                </ul>
                <br>
                <b><span style="color:brown"><font size="4">Career Aspiration</font></span></b> <br>
                I like to position myself as a problem solver architect in the area of data science and take it to a succesful delivery of it. With 16 years of experience , delivering the projects on time is my stregth along with unique solutioning capabilities. There are essentialy five elements to a data scientist: data engineering, data visualization, machine learning, big data and cloud computing. We know that no one is perfect in all five areas.<br> I aim to be a specilist in two of these areas (machine learning, cloud computing) and a generalist in the other three along with my strength of problem solver. This allows me to deliver the complete lifecycle, from identifying the right problem, translating the problem in terms of data, getting the data and perform curatorial analysis, building the pipelines, analysing data, building models, presenting findings and putting models in production. I aspire to handle it all.                    
                <br>
                <br>  
                  
                <b><span style="color:brown"><font size="4">Profile At-A-Glance</font></span></b> <br>
                I hold a master's degree (MS) in computer science specialised in "DATA SCIENCE" from <a href="http://illinois.edu/">University of Illinois Urbana Champaign</a> and a bachlers of engineering (B Eng) degree in computer science from <a href="https://www.sgbau.ac.in/">Amaravati University.</a>  
                <br>
                <br>
                Since last 5 years I am managing entire re-contracting space starting GM dealer managment, Contract managment and eSign. In this 5 years of journey, I have implemented self managed, AI based intelligent system such that business mistakes can be recovered automatically and send summery of it everyday mortning, and reduced significant IT efforts vai automation. In the past I have worked with <a href="https://www.atos-syntel.net/">Fedex(Atos Syntel) </a> as a project manager and Solution Architect and implemented enterprise wide distributed multi repository analystics based Document management system that deals with millions of trascations related to shipment , finance, HR tracking and implemented AI based solution that manages lifecycle of shipment. Prior to Fedex, I worked in investment bank <a href="https://www.capgemini.com/us-en/">Credit Suisse (Capgemini)</a> as a Europe lead.    
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
